.mp3-list {
  list-style: none;
  padding: 0 !important;
}

.mp3-item {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Ensures the title and buttons are vertically aligned */
  width: 100%;
}

.mp3-title {
  text-align: left;
  flex-grow: 1; /* Allow the title to take up available space */
  margin-right: 10px; /* Adds space between the title and the buttons */
}

.mp3-actions {
  display: flex;
  gap: 4px; /* Adds space between the download and share buttons */
  justify-content: flex-end; /* Keeps the buttons right-aligned */
  align-items: center; /* Vertically aligns buttons */
}

.mp3-list li {
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  margin-left: 0;
}

.mp3-list li .download-button,
.mp3-list li .share-button {
  min-width: 40px;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 10px;
  border: none;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  min-width: 40px; /* Minimum width to prevent shrinking */
  text-align: center; /* Center the content inside the button */
  flex-shrink: 0; /* Prevents buttons from shrinking */
}

.mp3-list li .download-button:hover,
.mp3-list li .share-button:hover {
  opacity: 0.8; /* Visual feedback on hover */
  min-width: 40px;
}

.share-button-wrapper {
  position: relative;
}

.share-dropdown {
  display: none;
  position: absolute;
  top: 100%; /* Directly below the button */
  left: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
  z-index: 100;
  min-width: 150px;
  text-align: left;
}

.share-dropdown.open {
  display: block; /* Display when the dropdown has the 'open' class */
}

.share-dropdown a {
  width: 100% !important;
  display: flex;
  align-items: center;
  color: #333;
  padding: 8px 10px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.share-dropdown a:hover {
  background-color: #e7827d; /* Background color on hover */
  width: 100% !important;
}

.share-dropdown img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.share-dropdown:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 10%;
  border-width: 0 10px 10px;
  border-style: solid;
  border-color: transparent transparent #ddd transparent;
}

/* ---------- */

/* Styling for download and share buttons */
.mp3-list li a,
.mp3-list li button {
  border: none;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-flex;
  align-items: center;
}

.share-button i {
  margin-right: 5px; /* Adds space between the icon and the button text */
}

.download-button i,
.share-button i {
  font-size: 14px;
}

.share-button {
  height: 100% !important;
  text-align: center !important;
}
